uploads/ 
reference.txt   


# Node.js dependencies
node_modules
package-lock.json

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
*.swp

# Temporary files
tmp/
temp/

# Build directories
/dist
/build
public/js/bundle.js

# Coverage directory used by tools like istanbul
coverage/

# Miscellaneous
*.bak
*.backup
*.old
*.tmp
*.log

# Compiled JavaScript files
*.js.map

# Output of 'npm pack'
*.tgz

# Project-specific files
database.sqlite
